header {
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #eaf0f0;
}
.title {
  width: 70%;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
}
.titlePanel {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.login {
}
.language {
}
.theme {
}
