@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
header {
  height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 240, 241);
}
.title {
  width: 70%;
  margin-left: 50px;
  font-size: 36px;
  text-transform: uppercase;
  color: #316481;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.titlePanel {
  width: 30%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.login {
}
.language {
  font-weight: 500;
  color: #316481;
}
.theme {
}
