.filters {
  background-color: #d26077;
  height: 40px;
}
.filtersNuv {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: #d26077 1px solid;
}
.filtersNuv > li:hover {
  cursor: pointer;
  border-bottom: #fff 1px solid;
}
